// Colors
@grey-900: #141414;
@grey-800: #1f1f1f;
@grey-700: #333333;
@green: #c4f82a;
@white: #ffffff;

// Spacing
@spacing-500: 40px;
@spacing-300: 24px;
@spacing-200: 16px;
@spacing-150: 12px;
@spacing-100: 8px;
@spacing-50: 4px;
