@import "./core/reset.less";
@import "./core/variables.less";
@import "./core/presets.less";

.primary-button {
  height: 2.8125rem;
  gap: @spacing-100;
  padding: @spacing-150;
  border-radius: @spacing-100;
  background-color: @grey-700;
  color: @white;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  border: none;

  &:extend(.flex-center);
  &:extend(.text-preset-2-bold);

  &:hover {
    background-color: @green;
    color: @grey-700;
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.main-content {
  background-color: @grey-900;
  height: 100vh;

  &:extend(.flex-center);
}

.card {
  width: 100%;
  max-width: 20.4375rem;
  gap: @spacing-300;
  padding: @spacing-300;
  border-radius: @spacing-150;
  background-color: @grey-800;

  &:extend(.flex-column-center);
}

.card__avatar {
  @edge: 5.5rem;
  width: 100%;
  max-width: @edge;
  height: 100%;
  max-height: @edge;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.card__author-description {
  gap: @spacing-50;

  &:extend(.flex-column-center);
}

.card__social-links-list {
  list-style-type: none;
  gap: @spacing-200;
  width: 100%;

  & li {
    width: 100%;

    & .primary-button {
      width: 100%;
    }
  }

  &:extend(.flex-column-center);
}

@media (min-width: 384px) {
  .card {
    width: 24rem;
    padding: @spacing-500;
  }
}
